@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
// Primary colors
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);

// Neutral colors
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-ligth-gray: hsl(0, 0%, 98%);

// Typography
$global-font-size: 15px;
$main-font: 'Poppins', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $main-font;
}